<div class="row">
    <div>
        <h2>Educación</h2>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h2 id="estudio">Estudio 1</h2> - <h3>years</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Officia inventore, magnam molestiae sed, nesciunt in nihil non
                         ullam error, nemo suscipit! Consectetur quod repudiandae,
                          amet incidunt magnam esse asperiores ex!
                    </p>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>Estudio 2</h2> - <h3>years</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Officia inventore, magnam molestiae sed, nesciunt in nihil non
                         ullam error, nemo suscipit! Consectetur quod repudiandae,
                          amet incidunt magnam esse asperiores ex!
                    </p>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>Estudio 3</h2> - <h3>years</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Officia inventore, magnam molestiae sed, nesciunt in nihil non
                         ullam error, nemo suscipit! Consectetur quod repudiandae,
                          amet incidunt magnam esse asperiores ex!
                    </p>
                </li>
            </ul>

        </div>
    </div>

</div>

