
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/miPerfil.jpg" class="img-fluid" id="fotoperfil">
           
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Eugenia Wagner</p>
            <p>Socióloga</p>
            <p> Casi Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Estudié sociología porque quiero contribuir a la construcción de una sociedad mas justa para las personas mas vulnerables. Me interesa la informática como un desafío y una posible herramienta para lograr mis objetivos.</p>
            </span>
        </div>
        



